@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

html {
    --primary: #1f2933;
    --secondary: #f5f7fa;
    --dark: #1d2025;
    --bg: #2e2e2e;
    --border: #eec9a4;
    --border-style-1: 1px solid var(--border);
    --border-style-2: 2px solid var(--border);
    --border-style-3: 3px solid var(--border);
}
.flex { display: flex;}
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex.space-between { justify-content:space-between;}
.flex.column { flex-direction: column;}
.mt-8 { margin-top: 8px;}
.mt-16 { margin-top: 16px;}
.divider-border {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color:var(--border);
}
.hidden {
    display: none;
}
.todo-item-collapsed {
    background-color: var(--bg)
}
body {
    color: white;
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
}

header {
    display: flex;
    padding: 10px 15px;
    background-color: var(--primary);
    align-items: center;
}
header .burger-menu {
    flex: 1;
}
header .burger-menu .item {
    width: 35px;
    height: 8px;
    border: var(--border-style-1);
    border-radius: 4px;
    margin-bottom: 3px;
}
header .logo {
    flex: 2;
    font-weight: 900;
    font-size: 55px;
    color: var(--primary);
    text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border), 1px 1px 0 var(--border);
}
header .project-name {
    flex: 1;
    font-size: 25px;
}
header .actions {
    flex: 2;
    display: flex;
}
#add-task {
    display: flex;
    align-items: center;
    border: 1px solid  transparent;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}
#add-task:hover {
    border: var(--border-style-1);
}
header .actions .plus-container {
    position: relative;
}
header .actions .plus-container > div {
    width: 25px;
    height: 6px;
    border: var(--border-style-1);
    border-radius: 4px;
}
header .actions .plus-container > #plus-1 {
    position: absolute;
}
header .actions .plus-container > #plus-2 {
    transform: rotate(90deg);
}
header .actions span {
    margin-left: 15px;
}
.sort-container {
    justify-content: center;
    margin-bottom: 15px;
}
.sort-container span {
    color: var(--border);
    margin-left: 5px;
}
.sort-dropdown {
    position: relative;
    cursor: pointer;
}
.sort-dropdown .content {
    position: absolute;
    background-color: var(--dark);
    color: var(--border);
    padding: 5px;
    display: none;
}
.sort-dropdown .content .dropdown-item {
    padding: 5px 10px;
    width: 150px;
}
.sort-dropdown:hover .content {
    display: block;
}
.sort-dropdown .dropdown-item:hover {
    background-color: #171e25;
}

.input-wrapper.error input {
  border-color: #f00 !important;
}
main {
    width: 100%;
    height: calc(100% - 84px);
    margin: 15px auto;
    max-width: 1150px;
}
.todo-item {
    border: var(--border-style-1);
    padding: 8px 10px;
    border-radius: 6px;
    margin-bottom: 8px;
}
.todo-item > .item-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item > .item-more {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.26s ease;
    
}
.todo-item .priority {
    width: 70px;
    display: flex;
    border: var(--border-style-1);
    border-radius: 10px;
}
.todo-item .priority > div {
    flex: 1;
}
.todo-item .priority > div:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: var(--border-style-1);
}
.todo-item .priority > div:nth-child(2) {
    border-right: var(--border-style-1);
}
.todo-item .priority > div:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.todo-item .item-status .is-done {
  width: 25px;
  height: 25px;
}

.todo-item-title {
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
}
#completed-task-list .todo-item-title {
    text-decoration: line-through;
}
#clear-completed-task {
    margin-left: 5px;
    display: block;
    margin-top: 20px;
    background: transparent;
    border: none;
    color: #808080;
    font-size: 16px;
    text-decoration: underline;
}

#modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.5);
    display: none;
}

#modal-container .modal {

    width: 45%;
    margin: 10% auto;
    padding: 15px 15px;
    border: var(--border-style-1);
    background-color: var(--dark);

}
.modal input, textarea, .modal > .priority {
    border: var(--border-style-1);
    padding: 4px 8px;
    margin: 10px;
    background-color: transparent;
    border-radius: 6px;
    color: white;
    font-size: 27px;
}
.gap {
    height: 100%;
    width: 25px;
}

/* Priority */
.priority .priority-item {
  height: 20px;
  border: var(--border-style-1);
  background-color: transparent;
}

.priority.low .priority-item:nth-child(1) {
  background-color: #693e3e;
}

.priority.medium .priority-item:nth-child(1) {
  background-color: #693e3e;
}
.priority.medium .priority-item:nth-child(2) {
  background-color: #6b2525;
}

.priority.high .priority-item:nth-child(1) {
  background-color: #693e3e;
}
.priority.high .priority-item:nth-child(2) {
  background-color: #6b2525;
}
.priority.high .priority-item:nth-child(3) {
  background-color: #6f0000;
}
.modal .priority  {
  border: var(--border-style-1);
  border-radius: 8px;
  padding: 8px;
}
.modal .priority .priority-item {
  margin: 4px;
  height: 35px;
}

.modal .title {
    font-size: 35px;
    color: var(--primary);
    margin-left: 20px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border), 1px 1px 0 var(--border);
}
.modal .priority span {
    position: absolute;
    top: -8px;
    background-color: var(--dark);
    font-size: 15px;
}
.modal  button {
    background-color: transparent;
    border: var(--border-style-1);
    color: white;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 10px;
}

.input-wrapper .error-message {
  display: none;
  color: #f00;
  padding-left: 10px;
}
.input-wrapper.error .error-message {
  display: block;
}
.kebab-more {
    background: transparent;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
}
.kebab {
    position: relative;
    background: transparent;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
}
.kebab > ul {
    position: absolute;
    list-style: none;
    top: -30px;
    right: 21px;
    z-index: 10;
    width: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.kebab ul li {
    margin-top: 10px;
    background-color: var(--dark);
    border: var(--border-style-1);
    color: var(--border);
    padding: 2px 4px;
}